*{
    box-sizing:border-box;
}
body{

    min-height:100vh ;
    padding: 0;
    margin: 0;
}
.gallery{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.btn-whatsapp{
    
    
    
    position: fixed;
    top: 90%;
    left: 98%;
    transform: translate(-50%, -50%);
}
.btn-whatsapp:before,
.btn-whatsapp:after{
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00e676;
    opacity: 0;
    animation: ondas 1.7s infinite;
}
.btn-whatsapp:before{
    animation-delay: 1s;
}

.btn-whatsapp:after{
    animation-delay: 1.3s;
}
.btn-whatsapp img{
    position: relative;
    z-index: 2;

}
@keyframes ondas {
    0%{
        transform: scale(1);
    }
    15%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(2.5);
    }
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    scroll-behavior: smooth;
}
body{font-family: 'Open Sans', sans-serif;}
.contenedor{
    width: 90%;
    max-width: 1200%;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
  
}
.btn-derecha{
    top: 50%;
    left: 96% ;
    position: fixed;
}
.btn-izquierda{
    top: 50%;
    left:0 ;
    position: fixed;
}
header{
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(13,193,223,255) 0%, rgba(241,212,41,255) 100%), url(../IMG/daniel.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(7, 10, 14);
}
.menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(153,204,113,255);
}
.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #f1d429 0%, #99cc71 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color:#0dc1df;
    text-decoration: none;
}
.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}
.copy{
    font-weight: 300px;
    font-size: 25px;
}

/*nuestro servico*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;

}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-servicio img{
    width: 40%;

}
.checlist-servicio{
    width: 45%;
}
.service{
    margin-bottom: 20px;
}
.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center; 
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}
.galerii{
    display: flex;
    height: 20rem;
    gap: 1rem;

}
.galerii > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.galerii > div:hover{
    flex: 5;
}
.gallery{
    background: #f2f2f2;
}
.contenedor-galeria{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.img-galeria{
    object-fit: cover;
    width: 350px;
    height: 250px;
    
    display: block;
    margin-bottom: 15px;
   
    cursor: pointer;
    border: 3px dashed rgb(19, 17, 17);
}
.imagen-light{
    position: fixed;
    display: flex;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;

}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
.showImage{
    transform: scale(1);
}
.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-experts{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;

}
.cont-experts img{
    width: 80%;
    display: block;
    margin:0 auto;
}
.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contacto-us{
    width: 40%;
    color: #fff;

}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;

}
.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}
.social-media i{
    font-size: 30px;
    line-height: 60px;
}


.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;

}
@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }
    .contenedor-servicio{
        width: 80%;
        margin-bottom: 40px;

    }
    .checlist-servicio{
        width: 80%;
        
    }
    .service{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80%;
    }
    .social-media-icon{
        margin-left: 0;
    }
    .img-galeria{
        width: 45%;
    }
    .cont-experts{
        width: 80%;

    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media i{
        margin-bottom: 0;
    }
    .footer-content{
        justify-content: center;
    }
    .contacto-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}




@media screen and (max-width:500px) {
    .menu-navegacion{
        width: 65vw;
    }
    .menu{
        top: 20px;
        right: 20px;

    }
    .agregar-imagen{
        width: 95%;
    }
.titulo{
    font-size: 30px;
    
}
.subtitulo{
    font-size: 30px;
}
.img-galeria{
    width: 95%;

}
.social-media{
    width: 100%;

}
.contacto-us{
    width: 90%;

}


    
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 355px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
}
.card-img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 25px;
border: 3px dashed rgb(19, 17, 17);

}
.card-body{
width: 100%;
height: 100%;
top: 0;
right: -100%;
color: #fff;
position: absolute;
background: #1f3d4738;
backdrop-filter: blur(5px);
border-radius: 15px;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: center;
transition: 1.5s;

}

.card:hover .card-body{
    right: 0;
}
.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;

}
.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}
.card-btn{
    color: rgb(44, 29, 29);
    background: #69e709;
    width: 120px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}



.container {
    position: fixed;
   
}
.tooltip {
    margin: 10px auto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    display: none;
}
  
.container:hover .tooltip {
    display: inline-block;
    z-index: 999;
}
  
.container:hover::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }